<!DOCTYPE html>
<html>
<head>
    <title>Plot with Chart.js</title>
</head>
<body>
    {% include "finances/stock_graph.html" %}

    <form action="{% url "finances:add_user_stock" %}" method="post">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" id="stock_symbol" name="stock_symbol" value="{{ stock_symbol }}">

            <label for="min_limit">Limite mínimo:</label>
            <input onchange="limitChanged()" type="number" step="0.01" name="min_limit" id="min_limit">
            <br>

            <label for="max_limit">Limite máximo:</label>
            <input onchange="limitChanged()" type="number" step="0.01" name="max_limit" id="max_limit">
            <br>

            <label for="time_interval">Intervalo (em minutos):</label>
            <input type="number" name="time_interval" id="time_interval">
            <br>
            
            <label for="email">Email:</label>
            <select name="email" id="email">
                {% for email in emails %}
                    <option value="{{ email }}">{{ email }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Salvar">
        </fieldset>
    </form>
    <script>
        const chart = Chart.getChart("stock-chart")

        function limitChanged() {
            const limits = []
            const min_limit = document.getElementById('min_limit').value
            const max_limit = document.getElementById('max_limit').value
            if (min_limit) {
                limits.push(createLine(min_limit))
            }
            if (max_limit) {
                limits.push(createLine(max_limit))
            }
            chart.options.plugins.annotation.annotations = limits
            chart.update()
        }

        function createLine(y) {
            return ({
                type: 'line',
                yMin: y,
                yMax: y,
                borderColor: 'rgb(255, 99, 132)',
                borderWidth: 2,
              })  
        }
    
    </script>
</body>
</html>
