<table class="table">
    <thead>
        <tr>
            <th>Símbolo</th>
            <th>Email</th>
            <th>Limite mínimo</th>
            <th>Limite máximo</th>
            <th>Intervalo (em minutos)</th>
        </tr>
    </thead>
    <tbody>
        {% for tunnel in tunnels %}
            <tr>
                <td>{{ tunnel.stock_symbol }}</td>
                <td>{{ tunnel.user }}</td>
                <td>{{ tunnel.min_limit }}</td>
                <td>{{ tunnel.max_limit }}</td>
                <td>{{ tunnel.time_interval }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>